* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(login.jpg)no-repeat center center/cover;
    
}

.login-container {
    background-color: rgba(255, 255, 255, 0.727);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}
h2 {
    margin-bottom: 30px;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
}

.remember-me {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 8px;
}
.forgot-password {
    margin-left: auto;
    font-size: 14px;
    color: #666;
}

.sign-in-btn {
    width: 100%;
    padding: 12px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.sign-up {
    margin-top: 20px;
    font-size: 14px;
}

.sign-up a {
    color: #333;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}